@import url("../fonts/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Museo Sans Cyrl", sans-serif !important;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

@keyframes tooltip {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.cont-padding {
    padding: 0 5%;
}

.inform-tooltip:hover ~ .inform-tooltip__body {
    display: block;
    position: absolute;
    margin-top: 50px;
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    animation-name: tooltip;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    max-width: 350px;
    z-index: 15;
}

.inform-tooltip__body {
    display: none;
}

/*1 БЛОК*/

.header_my {
    background: linear-gradient(45deg, #161616 56.42%, #123c8e 100%);
}

.header_my>.main_my {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.header_my .main_title {
    margin-bottom: 17%;
}

.header_my>.main_my>img {
    position: absolute;
    width: 40%;
    min-width: 315px;
    margin-left: 40%;
    margin-bottom: 10%;
}

.main_title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

.main_card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 32px;
    width: 382px;
    height: 389px;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.1);
}

.main_card_title .cost_text {
    float: left;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.cost {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin: 5px 0 25px 0;
}

.list_title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cont li:before, .header_my li:before {
    content: "• ";
}

.main_card li {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.list {
    margin-bottom: 50px;
}

.button {
    border-radius: 10px;
    padding: 14px 90px;
    background: #2463dd;
    text-align: center;
    text-decoration: none;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 100% !important;
    color: #fff;

}

.button:hover {
    background: #85bff2;
    transition: all .3s linear;
}

.header-main__additional-info {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    color: white;
    display: flex;
    flex-direction: column;
}

.header-main__additional-info>p {
    font-size: 18px;
}

.header-main__additional-info>div {
    display: inline-flex;
    justify-content: center;
}

/*2 БЛОК*/

.section {
    background: linear-gradient(84deg, #fff 41.98%, #bbc5ea 100%);
   padding-bottom: 96px;
}

.additional-info__title {
    position: sticky;
    top: 10px;
    font-weight: 600;
    color: black;
    font-size: 2.5rem;
}

.cont {
    display: grid;
    grid-template-columns: 55% 45%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.left {
    float: right;
}

.block {
    position: relative;
    border: 1px solid rgba(45, 71, 122, 0.2);
    border-radius: 20px;
    padding: 32px;
    background: #fff;
    margin-bottom: 20px;
    height: 211px;
    opacity: 0%;
    overflow: hidden;
}

.block.show {
    opacity: 1;
    transition: 1s;
}

.block_title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #272727;
    margin-bottom: 8px;
}

.block li {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #272727;
    margin-top: 5px;
}

.block-number {
    position: absolute;
    right: 15%;
    bottom: -60px;
    font-size: 10rem;
    font-weight: 700;
    line-height: 215.21px;
    font-family: "Museo Sans Cyrl", sans-serif;
    opacity: 0.05;
}

.guarantee {
    box-shadow: 0 4px 15px -2px rgba(9, 27, 64, 0.1);
    background: #2463dd;
}

.guarantee li,
.guarantee_title {
    color: #fff;
}

/*3 БЛОК*/

.inform {
    border-radius: 20px;
    background: linear-gradient(70deg, #161616 49.48%, #123c8e 100%);
    width: 100%;
    padding: 48px 52px 48px 48px;
}

.inform .slick-arrow {
    display: none !important;
}

.inform .slick-list {
    height: auto !important;
}

.inform .slick-track {
    width: 100% !important;
    display: inline-flex;
    justify-content: space-between;
    max-width: 100% !important;
    height: auto;
}

.inform .card {
    margin-right: 1rem;
    flex: 1;
}

.title_inform {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin-bottom: 32px;
}

.site_structures {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.card {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 97px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_title {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 27px;
}

.card_title p {
    margin-bottom: 4px;
}

.card_list {
    position: relative;
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fff;
    list-style-type: none;
    z-index: 100;
}

.card_list::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    color: black;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    top: 0;
    left: 50%;
    z-index: -1;
}

.card_list li {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px 12px;
    background: rgb(88, 88, 88);
    max-width: 169px;
    min-width: 160px;
    font-size: 14px;
    z-index: 3;
}

.card_list li:not(:last-child) {
    margin-bottom: 10px;
}

.accent {
    color: #272727;
}

.card_list .accent {
    background: #fff;
}

/*4 БЛОК*/

.services {
    width: 100%;
    padding: 0;
    margin-top: 5rem;
}

.title_services {
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;
    color: #272727;
}

.services_card {
    border: 1px solid rgba(45, 71, 122, 0.2);
    border-radius: 20px;
    padding: 32px;
    background: #fff;
}

.services_card .heading {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #272727;
    margin-top: 1rem;
}

.services_card .services_price {
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;
    color: #272727;
    position: relative;
    margin-top: 2rem;
}

.all_cards {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 2rem;
}

.left_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 10px;
}

.right_cards {
    border-radius: 20px;
    background: #2463dd;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_cards .recommend_title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 110%;
    color: #fff;
}

.right_cards .recommend {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 8px 12px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    color: white;
}

.right_cards .recommend img {
    margin-right: 10px;
}

.right_cards .tariff {
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;
    color: #fff;
}
/*5 БЛОК*/

.order {
    padding: 0;
    margin-top: 4rem;
}

.order_title {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 600;
   font-size: 30px;
   color: #272727;
}

.order_cards {
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}

.order_card {
   border: 1px solid rgba(45, 71, 122, 0.2);
   border-radius: 20px;
   padding: 32px;
   background: #fff;
}

.price_and_icon {
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.price_and_icon .order_price {
    float: left;
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;
    color: #272727;
}

.price_and_icon .icons {
    margin-left: 6px;
}

.order_description {
    font-weight: 600;
    font-size: 1rem;
    line-height: 110%;
    color: #272727;
}

/*6 БЛОК*/
.examples {
    position: relative;
    margin-top: 4rem;
}

.examples_title {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 600;
   font-size: 30px;
   color: #272727;
}

/*Слайдер*/
.slider {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-top: 4rem;
   width: 100%;
}

.slick-slider{
   min-width: 0;
}

/*Ограничивающая оболочка*/
.slick-list {
   overflow-x: hidden;
   width: 100% !important;
   display: flex;
}

/*Лента слайдов*/
.slick-track{
   display: flex;
   align-items: flex-start;
}

.examples .slider .slide {
    width: 33vw !important;
}

.slide img {
    padding-right: 21px;
    min-width: 150px;
    max-width: 600px;
}

/*Стрелки*/
.slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: 15px;
    height: 23px;
    margin: -100px 94%;
 }
 
 .slick-arrow.slick-prev{
    left: -20px;
    background: url('../img/slider_navigate_arrow.svg') 0 0 / 100% no-repeat;
    transform: rotate(180deg);
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
 }
 
 .slick-arrow.slick-next{
    left: 35px;
    background: url('../img/slider_navigate_arrow.svg') 0 0 / 100% no-repeat;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
 }
 
 .slick-arrow.slick-disabled {
    opacity: 0.2;
 }


/*7 БЛОК*/

.footer {
   border-radius: 20px;
   padding: 48px;
   background: linear-gradient(70deg, #161616 49.48%, #123c8e 100%);
   margin-top: 6rem;
}

.footer_title {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 600;
   font-size: 30px;
   color: #fff;
   margin-bottom: 12px;
}

.footer_description {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 300;
   font-size: 16px;
   color: #fff;
   margin-bottom: 32px;
   opacity: 0.8;
}

.form {
   width: 100%;
   margin-bottom: 9px;
   display: inline-flex;
   flex-wrap: wrap;
}

.input {
   border: 1px solid #fff;
   border-radius: 10px;
   padding: 12px 16px;
   background-color: transparent;
   margin-right: 16px;
}

.btn {
   border-radius: 10px;
   padding: 13px 95px;
   background: #2463dd;
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 300;
   font-size: 16px;
   color: #fff;
   text-decoration: none;
}

.footer_text {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 300;
   font-size: 12px;
   color: #fff;
   opacity: 0.5;
}

/* Адаптив */

@media screen and (max-width: 1300px) {
    .examples .slider .slide {
        flex: 0 0 33%;
    }
}

@media screen and (max-width: 1000px) {
    .slick-arrow, .header-main__additional-info {
        display: none;
    }

    .header_my .main_title {
        margin-bottom: 0;
        font-size: 2.5rem;
    }

    .header_my > .main_my > img {
        margin: 0;
        height: 33%;
        position: relative;
    }

    .header_my .main_card {
        margin: 0;
    }

    .header_my > .main_my {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .site_structures {
        display: inline-flex;
        overflow-x: hidden;
    }

    .site_structures .card {
        flex: 1;
        margin-right: 1rem;
    }

    .section .block {
        height: auto;
        min-height: 211px;
    }

    .services .all_cards {
        display: flex;
        flex-direction: column;
    }

    .services .left_cards {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .services .left_cards .services_card {
        width: 100%;
    }

    .services .right_cards {
        margin-top: 10px;
        width: 100%;
    }

    .services .tariff {
        margin-top: 1rem;
    }

    .order .order_cards {
        display: flex;
        flex-direction: column;
    }

    .order_cards > div {
        margin-top: 1rem;
    }

    .slick-arrow {
        display: none !important;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form .btn, .form .input {
        max-width: 100%;
        width: 100%;
    }

    .form .btn {
        text-align: center;
    }

    .form > * {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 975px) {
    .slick-list {
        height: auto !important;
    }

    .slider .slide, .examples .slider .slide {
        width: 100% !important;
        height: 100%;
        max-width: none;
        flex: 1;
    }
}

@media screen and (max-width: 775px) {
    .section .cont {
        display: flex;
        flex-direction: column;
    }

    .section .right {
        margin-top: 1rem;
    }

    .inform {
        padding: 48px 0 48px 48px;
    }

    .inform .card {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .main_card {
        width: 100%;
        height: auto;
    }
    .header_my .main_title {
        font-size: 2rem;
    }
    .header_my > .main_my {
        height: auto;
    }

    .main_my .button {
        display: block;
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 492px) {
    .inform {
        padding: 20px 0 20px 20px;
    }

    .inform .card {
        padding: 15px 35px;
    }

    .inform .card_title > * {
        width: 100%;
    }

    .right_cards .recommend {
        height: auto;
    }

    .examples .slide {
        width: 300px !important;
        height: auto;
    }

    .examples .slide img {
        width: calc(100vw - 40px) !important;
    }

    .footer .footer_title {
        font-size: 1.5rem;
    }

    .footer .btn {
        display: block;
        padding: 10px;
    }
}